.CountryList{
         flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
}
@media (max-width: 700px) {
    .CountryListItem{
        width: 50%;
    }
}
@media (min-width: 700px) {
    .CountryListItem{
        width: 25%;
    }
}
