
.Country{
    
}

.isSelected {
    background-color: rgba(63, 44, 13, 0.5);
}

.data{                                     
    /*flex-direction: column;*/
    flex: 1 0 auto;
    margin-right: 20px;
}
.data > div {
    flex-direction: row;
}
.label {
    font-weight: bold;
    margin-right: 10px;
}

.code {

}

.name {

}
.action{
    width: 15%;
    max-width: 80px;
    justify-content: right;

}
.action button{
    height: 100%;
    cursor: pointer;

}